@import url("fonts.css");
@keyframes blink {
	0% {opacity: 0; display: flex !important;}
	50% {opacity: 1; display: flex !important;}
	100% {opacity: 0; display: flex !important;}
}

body {
	background-color: black;
	margin: none;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

body > h1 {
	display: none;
	animation: blink 0.2s ease;
}

body > div {
	display: none;
	animation: blink 0.2s ease 0.2s;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

body > div > h1 {
	font-size: 30px;
	font-family: futura;
}

body > div > h2 {
	font-size: 15px;
	font-family: avenir;
	font-weight: lighter;
}

body > div button {
	background-color: white;
	color: black;
	border-radius: 5px;
	font-family: futura;
}
