html {
  background-color: black;
  background-image: url("/assets/images/hero/huh.png");
  background-position: 0vh 0vw;
  background-attachment: fixed;
  background-repeat: repeat;
  animation: h 20s linear infinite;
  background-size: 2%;
}

header,
footer {
  opacity: 80%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ol > p {
  margin: none;
}

#boxes {
  margin: 15vh 0;
}

#select-square {
  text-align: center;
  margin: 10px;
  border-radius: var(--radius);
  padding: 10px;
}
