
#boxes, .boxes {
	display: flex;
	flex-grow: 4; 
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	flex-direction: row;
	text-align: center;
	flex-wrap: wrap;

}

#select-square {
	background: #1C2833;
	box-shadow: 0 4px 4px 0 #17202A, 0 6px 4px 0 #17202A;
	border-radius: 10px;
	margin: 10px;
	display: block;
	width: 300px;
	height: 250px;
}

#big-square {
	display: block;
	text-align: center;
	padding: 5px;
}

#select-square:hover {
	box-shadow: 0 0px 0px 0 #e0e8f1, 0 0px 0px 0 #17202A;
}

h1, h2, h3 {
	text-align: center;
	padding: 5px;
}

#lutton {
	background-color: #D5DBDB;
	border: none;
	color: black;
	font-size: 25px;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px;
	margin: 5px;
	box-shadow: 0 4px 4px 0 #17202A, 0 6px 4px 0 #17202A;
}

#select-square h3 {
	margin: 10px;
}
img {
	padding-top: 10px;
}

h5 {
	color: #5D6D7E;
}