#clicker-select-square, #fuck-g-select-square, #inary-select-square, #sharp-select-square, #museum-select-square {
	background: #1c2833;
	box-shadow: 0 4px 4px 0 #283747, 0 6px 4px 0 #283747;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 25px;
    margin-left: 25px;
    display: block;
    text-align: center;
    color:inherit;
    border-style:solid;
    border-width: 0px 0px 0px 0px;
    padding:2px;
}

img {
	padding-top: 10px;
}