
#boxes {
	display: flex;
	flex-grow: 4; 
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-between;
	flex-direction: row;
	text-align: center;
}

#select-square {
	background: #1C2833;
	box-shadow: 0 4px 4px 0 #17202A, 0 6px 4px 0 #17202A;
	border-radius: 10px;
	padding: 10px;
	display: block;
}

#select-square:hover {
	background: #1C2833;
	box-shadow: 0 0px 0px 0 #17202A, 0 0px 0px 0 #17202A;
	border-radius: 10px;
	padding: 10px;
	display: block;
}

h1 {
	text-align: center;
}
h3 {
	color: #515A5A;
}
img {
	padding-top: 10px;
}

