main {
	text-align: left !important;
}
#boxes {
	display: flex;
	flex-grow: 4; 
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	flex-direction: row;
	text-align: center;
	flex-wrap: wrap;

}

details,
details:hover {
  color: var(--text);
  font: "DM Sans";
  text-align: center;
  outline: none;
  border: none;
  background: var(--bgSecondary);
  outline: none;
  margin: 10px;
  transition: all 0.1s ease;
  border-radius: 5px;
  padding: 10px;
}

summary {
  padding: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

summary:hover {
  background-color: var(--hover);
  outline: none;
}

#select-square {
	text-align: center;
	margin: 10px;
	transition: all 0.1s ease;
	border: 1px solid var(--border);
	border-radius: 5px;
	padding: 10px;
	width: 300px;
	height: 120px;
}

#select-square:hover {
	background-color: #FFFFFF10;
}


 #select-square h4 {
	 margin: 5px;
 }



h1, h3 {
	text-align: center;
	padding: 5px;
}

