#review-boxes {
	display: flex;
	flex-grow: 4;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	flex-direction: column;
	text-align: center;
	flex-wrap: wrap;
  }



#select-square:hover {
  background-color: var(--hover);
}

#testmonial > p::before, #testmonial > p::after {
	content: "\“";
	font-size: 23px;
	font-family: "Source Serif Pro" !important;
}

#testmonial > p {
	font-family: "Source Serif Pro" !important;
	font-size: 23px;
}

#expanded-select-square {
	text-align: center;
	margin: 10px;
	transition: all 0.1s ease;
	background: var(--bgThird);
	border-radius: var(--radius);
	padding: 10px;
	display: grid;
	grid-template-areas: "data review";
	
}


#reviewerData > img {
  border-radius: 100%;
}

#reviewerdata {
	grid-area: data;
	background: var(--bgFourth);
}

#testmonial {
	grid-area: review;
}
h1,
h2,
h3,
h4 {
  text-align: center;
  padding: 5px;
}

#select-square h3 {
  margin: 10px;
}
img {
  padding-top: 10px;
}

h4,
#main > h2 {
  color: var(--accentMain);
}
h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

#select-square > h5 {
  color: var(--text);
}