h1 {
	text-align: center;
	padding-right: 60px;
}
h3 {
	text-align: center;		
}
#main {
	text-align: center;
}

textarea {
	background: #1C2833;
	border: none;
	box-shadow: 0 4px 4px 0 #17202A, 0 6px 4px 0 #17202A;
	border-radius: 10px;
	font-family: 'DM Sans';
	color: #FDFEFE;
	font-size: 17px;
	resize: none;
	width: 1000px; 
	height: 350px;
}

@media only screen and (max-width: 768px) {
	textarea {
		width: 745px;
	}
  }


@media only screen and ( max-width: 425px) {
	textarea {
		width: 400px;
	}
}

@media only screen and ( max-width: 375px) {
	textarea {
		width: 350px;
	}
}

button {
	background-color: #D5DBDB;
	border: none;
	color: black;
	font-size: 25px;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px;
	margin: 5px;
	box-shadow: 0 4px 4px 0 #17202A, 0 6px 4px 0 #17202A;
}

button:hover{
	box-shadow: 0 0px 0px 0 #17202A, 0 0px 0px 0 #17202A;	
}
	