h1 {
	text-align: center;
	padding-right: 60px;
}
h3 {
	text-align: center;		
}
#main {
	text-align: center;
}

#contain-message {
	background-color: var(--bgSecondary);
	padding: 10px;
}

#contain-message p, #contain-message h1, #contain-message button{
	margin: 0 auto;
	top: 0;

	text-align: center;
	margin: 10px;
}
textarea {
	background: inherit;
	border-radius: 10px;
	font-family: 'DM Sans';
	color: #FDFEFE;
	font-size: 17px;
	resize: none;
	width: 1000px; 
	height: 350px;
	padding: 10px;
}

@media only screen and (max-width: 768px) {
	textarea {
		width: 745px;
	}
  }


@media only screen and ( max-width: 425px) {
	textarea {
		width: 400px;
	}
}

@media only screen and ( max-width: 375px) {
	textarea {
		width: 350px;
	}
}

button {
	padding: 10px;
	font-size: 16px;
	background-color: var(--accentMain);
	color: var(--bgMain);
	border-radius: 5px;
	border: none;
	box-shadow: 0 5px 10px #00000040;
}


button:hover {
	box-shadow: 0 0px 0px 0 #17202A, 0 0px 0px 0 #17202A;	
}
	
/* 
	#selector:hover {
		box-shadow: 0 0px 0px 0 #17202A, 0 0px 0px 0 #17202A;	
	} 

	#selector {
		background-color: #D5DBDB;
		border: none;
		color: black;
		font-size: 25px;
		border-radius: 10px;
		cursor: pointer;
		padding: 10px;
		margin: 5px;
	 
	}
*/

footer h3 {
	color: white !important;
}