
#boxes {
	display: flex;
	flex-grow: 4; 
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	flex-direction: row;
	text-align: center;
	flex-wrap: wrap;

}


#select-square {
	text-align: center;
	margin: 10px;
	
	background-color: var(--bgThird);
	border-radius: 5px;
	padding: 10px;
	width: 250px;
	height: 250px;
}

#select-square:hover {
	background-color: #FFFFFF10;
}

h1, h2, h3, h4 {
	text-align: center;
	padding: 5px;
}

h3 {
	color: #FDFEFE !important;
}

#select-square h3 {
	margin: 10px;
}
img {
	padding-top: 10px;
}

h4 {
	color: var(--accentMain);
}
h3 {
	font-size: 22px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

#legal-bullshit {
	text-align: center;
}

#hype-desc {
	font-size: 10px !important;
}