/* fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* webkit stuff */
::-webkit-progress-bar,
::-webkit-scrollbar-thumb {
  background-color: var(--accentMain);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--radius);
}

::-webkit-scrollbar {
  background: transparent;
}

::selection {
  color: #000;
  background: var(--accentMain);
}

/* keyframes */
@keyframes h {
  from {
    background-position: 0vh 0vw;
  }
  to {
    background-position: -100vh -100vw;
  }
}
/* htnl */
html {
	margin: none;
}
/* body */
body {
  background-color: var(--bgFirst);
  color: var(--text);
  font-weight: 400;
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* text and elements */
* {
  transition: all 0.1s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans" !important;
  color: var(--accentMain);
}

br {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
	color: var(--accentSecondary);
}

img {
  padding: 10px;
  border-radius: var(--radius);
}

button,
#cta {
  padding: 10px;
  font-size: 16px;
  background-color: var(--accentMain);
  color: var(--bgFirst);
  border-radius: var(--radius);
  border: none;
  color: #000 !important;
  box-shadow: 0 5px 10px #00000040;
}

button:hover,
a:hover,
#cta:hover {
  cursor: pointer;
}

button:hover {
	background: var(--hover);
	color: white !important;
	padding: 10px;
	border-radius: var(--radius);
}

/* form */
form {
  text-align: left !important;
}

textarea {
  border-radius: 10px;
  font-family: "DM Sans";
  color: #fdfefe;
  font-size: 17px;
  padding: 10px;
  background-color: var(--bgThird);
  width: 98% !important;
  border: none;
  height: 350px;
  padding: 10px;
  resize: none;
}

input {
  border-radius: 10px;
  font-family: "DM Sans";
  color: #fdfefe;
  font-size: 17px;
  padding: 10px;
  background-color: var(--bgThird);
  width: 98% !important;
  border: none;
  padding: 10px;
  resize: none;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border: none;
  outline: none;
  background: var(--hover);
}

input:invalid {
  border: none;
  background: red;
  color: black;
}
/* form mobile */
@media only screen and (max-width: 768px) {
  input,
  textarea {
    width: 745px;
  }
}

@media only screen and (max-width: 425px) {
  input,
  textarea {
    width: 400px;
  }
}

@media only screen and (max-width: 375px) {
  input,
  textarea {
    width: 350px;
  }
}

/* main section */
main {
  margin: 0 50vh;
}

main > a {
  color: var(--accentSecondary) !important;
}

@media only screen and (max-width: 1024px) {
  main {
    margin: 20px;
  }
}

/* footer and header */
footer,
header {
  text-align: center;
  background-color: var(--bgSecond);
  padding: 30px;
  color: var(--text);
}

nav,
nav > *,
nav > ul > li > * {
  padding: 20px;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#selected {
	color: var(--accentMain);
	font-weight: bold;
}

/* flexboxes*/
#boxes {
  display: flex;
  flex-grow: 4;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

#review-boxes {
  display: flex;
  flex-grow: 4;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}

/* select square */
#select-square {
  margin: 10px;
  background-color: var(--bgThird);
  border-radius: 5px;
  padding: 20px;
  width: 250px;
  height: 250px;
  border-radius: var(--radius);
}

#select-square:hover {
  background-color: #ffffff10;
}

/* non hover squares */
#non-hover-square {
  margin: 10px;
  background-color: var(--bgThird);
  border-radius: 5px;
  padding: 20px;
  width: 250px;
  height: 150px;
  border-radius: var(--radius);
}

/* testmonials */
#expanded-select-square {
  margin: 10px;
  background: var(--bgThird);
  border-radius: var(--radius);
  padding: 10px;
  display: grid;
  grid-template-areas: "data review";
}

#reviewerdata {
  grid-area: data;
  background: var(--bgFourth);
}

#testmonial {
  grid-area: review;
}

/* qoutes */
#testmonial > p::before,
#testmonial > p::after {
  content: "\“";
  font-size: 23px;
  font-family: "Source Serif Pro" !important;
}

#testmonial > p {
  font-family: "Source Serif Pro" !important;
  font-size: 23px;
}

/* testmonial mobile */
@media only screen and (max-width: 768px) {
  #expanded-select-square {
    grid-template-areas:
      "data"
      "review";
  }
}
