.small {
	color: var(--brand-suited);
	letter-spacing: var(--increment);
}

.mainHeading {
	margin-bottom: calc(var(--increment) * 2);
	margin-top: calc(var(--increment) * 1);
}

.mainParagraph {
	margin-bottom: calc(var(--increment) * 3);
}
