#expanded-select-square {
	margin: 10px;
	background: var(--bgThird);
	border-radius: var(--radius);
	padding: 10px;
	display: grid;
	grid-template-areas: "data review";
}

#reviewerdata {
	grid-area: data;
	background: var(--bgFourth);
}

#testmonial {
	grid-area: review;
}

/* qoutes */
#testmonial>p::before,
#testmonial>p::after {
	content: "\“";
	font-size: 23px;
	font-family: "Source Serif Pro" !important;
}

#testmonial>p {
	font-family: "Source Serif Pro" !important;
	font-size: 23px;
}

/* testmonial mobile */
@media only screen and (max-width: 768px) {
	#expanded-select-square {
		grid-template-areas:
			"data"
			"review";
	}
}