.hr {
	height: calc(var(--increment) / 4);
	background: var(--border);
	padding: 0 !important;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	gap: calc(var(--increment) * 2);
}

.ul {
	list-style: none;
	padding: 0;
	display: flex;
	gap: calc(var(--increment) * 2);
}

.link {
	color: var(--text-color);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
	background: none;
	border: none;
	padding: 0;
}

.link:hover {
	cursor: pointer;
	color: var(--brand-suited);
}

@media (min-width: 768px) {
	.nav {
		flex-direction: row;
		gap: none;
	}
}
