.header {
	background: var(--slate);
}

.banner {
	background: var(--brand-suited);
	color: var(--brand-text-color);
}

.bannerText {
	display: flex;
	justify-content: center;
}

.desktopNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	display: none;
}

.ul {
	list-style: none;
	padding: 0;
	display: flex;
	gap: calc(var(--increment) * 2);
}

.logo {
	--logo-light: var(--brand-light);
	--logo-dark: var(--brand-dark);
}

.logo:hover {
	--logo-light: var(--brand-dark);
	--logo-dark: var(--brand-light);
}

.link {
	color: var(--text-color);
}

.link:hover {
	color: var(--brand-suited);
}

@media (min-width: 768px) {
	.desktopNav {
		display: flex;
	}
}
