html {
	background-color: #2C2F33;
	font-family: 'Segoe UI', Tahoma;
	color: #99AAB5;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
	border-radius: 10px;
}

::-webkit-progress-bar, ::-webkit-scrollbar-thumb {
	background: #7289DA;
}

::-webkit-scrollbar {
	background: #23272A;
}

a {
	text-decoration: none;
	color: inherit;
}

#select-screen, #back {
	float: left;
	background-color: #23272A;
	color: #7289DA;
	color:inherit;
	border-style:solid;
	border-width: 0px 0px 1px 0px;
	padding:2px;
	font-size: 25px;
}
