:root {
  --bgMain: #202020;
  --bgSecondary: #191919;
  --bgTeritary: #19191910;
  --hover: #ffffff10;
  --border: #404040;
  --text: #d5dbdb;
  --selectedGreen: #2ecc71;
  --unselectedRed: #e74c3c;
  --accentMain: #00ff21;
  --accentSecondary: #00b900;
  --overlay: #0008;
}
