@keyframes h {
	from {
	  background-position: 0vh 0vw;
	}
	to {
	  background-position: -100vh -100vw;
	}
  }
  
  html {
	background-color: black;
	background-image: url("../h.png");
	background-position: 0vh 0vw;
	background-attachment: fixed;
	background-repeat: repeat;
	animation: h 20s linear infinite;
	background-size: 2%;
  }
  #button {
	padding: 10px;
	font-size: 16px;
	background-color: var(--accentMain);
	color: var(--bgFirst);
	border-radius: 5px;
	border: none;
	box-shadow: 0 5px 10px #00000040;
  }
  
  #button:hover {
	  background-color: var(--hover);
	  color: var(--text);
  }
  
  img {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  #boxes {
	display: flex;
	flex-grow: 4;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	flex-direction: row;
	text-align: center;
	flex-wrap: wrap;
  }
  
  #select-square {
	text-align: center;
	margin: 10px;
	border-radius: 5px;
	padding: 10px;
  }
  
  a {
	text-align: center;
  }
  h1 {
	  text-align: center;
  }
  
  h2 {
	  color: var(--accentSecondary);
  }
  h2,
  h3 {
	text-align: center;
  }
  
  h3 {
	  color: var(--text);
	  padding-bottom: 10px;
  }
  
  #select-square h3 {
	margin: 10px;
  }
  
