@keyframes h {
  from {
    background-position: 0vh 0vw;
  }

  to {
    background-position: -100vh -100vw;
  }
}

.hero {
  border-radius: calc(var(--increment) * 4);
  height: 50vh;
  background: var(--hero);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: calc(var(--increment) * 3.5);

  background-image: var(--image-url);
  background-position: 0vh 0vw;
  background-attachment: fixed;
  background-repeat: repeat;
  animation: h 20s linear infinite;
  background-size: 2%;
  margin-bottom: calc(var(--increment) * 4);
}

.projectSectionHeader,
.heroHeading {
  margin-bottom: var(--increment);
}

.heroHeading {
  color: var(--brand-suited);
}

.heroContent {
  color: var(--text-color);
  /* fixes buttons overlaying each other */
  margin-bottom: calc(var(--increment) * 4);
}

.ctas {
  display: flex;
  flex-direction: column;
  gap: calc(var(--increment) * 2);
  align-items: flex-start;
  justify-content: center;
}

.whoWeAre {
  color: var(--brand-suited);
}

@media (min-width: 425px) {
  .ctas {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
