@keyframes h {
	from {
		background-position: 0vh 0vw;
	}

	to {
		background-position: -100vh -100vw;
	}
}


@keyframes sweep {
	0% {
		opacity: 0;
		margin-left: -10px
	}

	100% {
		opacity: 1;
		margin-left: 0px
	}
}