:root {
  --bgFirst: #0a0a0a;
  --bgSecond: #000000;
  --bgThird: #0f0f0f;
  --bgFourth: #262626;
  --hover: #ffffff10;
  --border: #404040;
  --text: #d5dbdb;
  --gray: #a7a7a7;
  --selectedGreen: #2ecc71;
  --unselectedRed: #e74c3c;
  --accentMain: #00ff21;
  --accentSecondary: #00b900;
  --overlay: #0008;
  --radius: 10px;
}
