/* webkit stuff */
::-webkit-progress-bar,
::-webkit-scrollbar-thumb {
  background-color: var(--accentMain);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--radius);
}

::-webkit-scrollbar {
  background: transparent;
}

::selection {
  color: #000;
  background: var(--accentMain);
}