@media only screen and (max-width: 600px) {
  main > div {
    flex-direction: column;
  }
  main > div > * {
    width: 80%;
  }
}
@media handheld {
  main > div {
    flex-direction: column;
  }
  main > div > * {
    width: 80%;
  }
}

#banner {
  height: 5vh;
  text-align: center;
  background: black;
}


/* hero */
#hero {
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* bg */
  background-color: black;
  background-image: url("assets/images/hero/h.png");
  background-position: 0vh 0vw;
  background-attachment: fixed;
  background-repeat: repeat;
  animation: h 20s linear infinite;
  background-size: 2%;
  color: var(--text);
  height: 50vh;
}

#hero-content a {
  color: var(--accentSecondary);
  text-decoration: none;
  margin-top: 10px;
  font-size: 13px;
}

#hero-content {
  margin: 0 37.5vh;
}

@media only screen and (max-width: 1024px) {
  #hero-content {
    margin: 20px;
  }
}

/* hero merge header */
header {
  background-color: black;
  background-image: url("assets/images/hero/h.png");
  background-position: 0vh 0vw;
  background-attachment: fixed;
  background-repeat: repeat;
  animation: h 20s linear infinite;
  background-size: 2%;
}
