button {
	background-color: #7289DA;
	color: white;
	border: none;
	font-size: 25px;
	border-radius: 10px;
}
#h-count, #h-title {
	color: white;
	font-size: 35px;
}

#main-left-section {
	width: 100%;
	height: max-content;
	min-height: 100%;
}
#copyright {
	color: lightgrey;
	font-size: 17px;
}

a {
	text-decoration: none;
	color: inherit;
}
