
/* square it */
#left-area > * {
	background: var(--bgThird);
	margin: 20px;
	padding: 10px;
	border-radius: var(--radius);
}

/* focus */
#h-count {
	font-size: 30px;
}

/* this fixes nav */
nav > ul > li > * {
	padding: 10px !important;
}