

#loqo {
	float: center;
	display: block;
	margin: 0px auto;
}

button {
	background-color: #D5DBDB;
	border: none;
	color: white;
	font-size: 25px;
	border-radius: 10px;
	cursor: pointer;
	padding: 5px;
	margin: 5px;
}
#h-count, #h-title {
	font-size: 35px;
}

#text, #buttons	{
	box-shadow: inherit;
	background-color: #2C3E50;
	margin: inherit;
	border-radius: inherit;

}

#buttons button {
	color: black;
}

#clicker{
	font-size: 17px;
	height: max-content;
	position: absolute;
	top: 75%;
	width: ;
	box-shadow: inherit;
	background-color: #2C3E50;
	margin: inherit;
	border-radius: inherit;
}

#links{
	font-size: 17px;
	height: max-content;
	position: absolute;
	top: 100%;
	box-shadow: inherit;
	background-color: #2C3E50;
	margin: inherit;
	border-radius: inherit;
}