
#h {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: none;
	border: 0;
	color: white;
	font-family: 'DM Sans';
	font-size: 250px;
	outline: none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	cursor: pointer;
	box-shadow: none !important;
}

