html {
	background-color: #2C3E50;
	font-family: 'Segoe UI', Tahoma;
	color: white;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
}


::-webkit-scrollbar-thumb {
	background: #34495e;
}
::-webkit-scrollbar {
	background: #2c3e50 ;
}


#left-area, #middle-area, #right-area {
	position: absolute;
	top: 0%;
	bottom: 0%;
	overflow-y: scroll;
	overflow-x: hidden;
	text-align: center;
}
#left-area, #right-area {
	background: #34495e;
}
#left-area {
	left: 0%;
	right: 80%;
}
#middle-area {
	left: 20%;
	right: 20%;
	overflow-y: hidden;
}
#right-area {
	padding: 50px;
	left: 80%;
	right: 0%;
}
