#left-area, #middle-area, #right-area {
	position: absolute;
	top: 0%;
	bottom: 0%;
	overflow-y: scroll;
	overflow-x: hidden;
	text-align: center;

}
#left-area, #right-area {
	background: #1c2833;
	margin: 10px;
	box-shadow: 0 4px 4px 0 #17202A, 0 6px 4px 0 #17202A;
	border-radius: 10px;
}

#left-area {
	left: 0%;
	right: 80%;
}
#middle-area {
	left: 20%;
	right: 20%;
	overflow-y: hidden;
}
#right-area {
	padding: 25px;
	left: 80%;
	right: 0%;
}


@media only screen and (max-width: 768px) {
	#left-area, #middle-area, #right-area {
		position: absolute !important;
		left: 0% !important;
		right: 0% !important;
		overflow-y: scroll !important;
		overflow-x: hidden !important;
		text-align: center !important;
	}
	#left-area, #right-area {
		background: #1c2833 !important;
		margin: 10px !important;
		box-shadow: 0 4px 4px 0 #17202A, 0 6px 4px 0 #17202A !important;
		border-radius: 10px !important;
	}
	#left-area {
		top: 0% !important;
		bottom: 80% !important;
	}
	#middle-area {
		top: 20% !important;
		bottom: 20% !important;
		overflow-y: hidden !important;
	}
	#right-area {
		padding: 50px !important;
		top: 80% !important;
		bottom: 0% !important;
	}
}


@media only screen and (max-width: 425px) {
	#left-area, #middle-area, #right-area {
		left: 0% !important;
		right: 0% !important;
		overflow-y: scroll !important;
		overflow-x: hidden !important;
	}
	#left-area {
		top: 0% !important;
		bottom: 80% !important;
	}
	#middle-area {
		top: 20% !important;
		bottom: 20% !important;
		overflow-y: hidden !important;
	}
	#right-area {
		padding: 50px !important;
		top: 80% !important;
		bottom: 0% !important;
	}
}

@media only screen and (max-width: 375px) {
	#left-area, #middle-area, #right-area {
		position: absolute !important;
		left: 0% !important;
		right: 0% !important;
		overflow-y: scroll !important;
		overflow-x: hidden !important;
		text-align: center !important;
	}
	#left-area, #right-area {
		background: #1c2833 !important;
		margin: 10px !important;
		box-shadow: 0 4px 4px 0 #17202A, 0 6px 4px 0 #17202A !important;
		border-radius: 10px !important;
	}
	#left-area {
		top: 0% !important;
		bottom: 80% !important;
	}
	#middle-area {
		top: 20% !important;
		bottom: 20% !important;
		overflow-y: hidden !important;
	}
	#right-area {
		padding: 50px !important;
		top: 80% !important;
		bottom: 0% !important;
	}
}