#left-area, #middle-area, #right-area {
	position: absolute;
	top: 0%;
	bottom: 0%;
	overflow-y: scroll;
	overflow-x: hidden;
	text-align: center;

}
#left-area, #right-area {
	background: #1c2833;
	margin: 10px;
	box-shadow: 0 4px 4px 0 #17202A, 0 6px 4px 0 #17202A;
	border-radius: 10px;
}

#left-area {
	left: 0%;
	right: 80%;
}
#middle-area {
	left: 20%;
	right: 20%;
	overflow-y: hidden;
}
#right-area {
	padding: 25px;
	left: 80%;
	right: 0%;
}
