.shop-item {
	display: flex;
	flex-direction: column;
	text-align: center;
	background: #2C3E50;
	border-radius: 20px;
	margin: 15px;
	height: max-content;
	padding: 5px;
	box-shadow: 0 4px 4px 0 #17202A, 0 6px 4px 0 #17202A;
	cursor: pointer;
}

@font-face {
	font-family: 'DM Sans Bold';
	src: '../common/fonts/DMSans-Bold.ttf';
	font-weight: bold;
}

.name, .desc, .price, .not-purchased, .purchased {
	padding: 5px
}

.selected-item {
	background: #34495E;
}
.name {
	font-size: 1.25rem;
	font-family: 'DM Sans Bold';
}

.desc, .price {
	color: #BFC9CA;
}
.purchased {
	color: #2ECC71;
}
.not-purchased {
	color: #E74C3C;
}

#12 p {
	-moz-transform: rotate(-180deg) !important; /* Firefox */
	-webkit-transform: rotate(-180deg) !important; /* Webkit */        
	-ms-transform: rotate(-180deg) !important; /* IE */
	-o-transform: rotate(-180deg) !important; /* Opera */
	transform: rotate(-180deg) !important; /* future */
	position:absolute;
}
