details {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

/* Hide The disclosure widget: */
details summary {
    list-style: none;
    cursor: pointer;
}

details summary::-webkit-details-marker {
    background: url('/assets/svgs/details/down.svg') center no-repeat;
    color: transparent;
}

/* Closing the details on clicking anywhere else */
details details[open] summary::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    cursor: default;
}

details[open] summary~* {
    animation: sweep .5s ease-in-out;
}
details[open] summary::-webkit-details-marker {
    background: url('/assets/svgs/details/up.svg') center no-repeat;
    color: transparent;
}

/* Visual styles for your details: */
details { width: 100%; }
summary {
    background: var(--bgThird) !important;
    padding: 10px;
    border-radius: var(--border);
    margin: 5px;
    width: 100%;
    outline: none;
}
