footer,
header {
  text-align: center;
  background-color: var(--bgSecond);
  padding: 30px;
  color: var(--text);
}

nav,
nav > *,
nav > ul > li > * {
  padding: 20px;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#selected {
  color: var(--accentMain);
  font-weight: bold;
}